
body{
    width: 1170px;
    margin: auto;
}
header {
    position: relative;
    height: 140px;
    width: 1170px;
    background-color: rgb(92, 92, 92);
    margin: auto;

}
header img{
    position: relative;
    top: 35px;
    left: 105px;
    /* background-color: black; */
}
header nav {position: absolute;
    top: 65px;
    left: 390px;
}
.Item {  
    float: left;
    color: rgb(204, 224, 224);
    line-height: 10px;
    margin-left: 70px;
    list-style: none;
};

main{
    height: 100%;
    width: 1170px;
    background: cornsilk;
    }
    
#mainPic {
    position: relative;
    top: 25px;
    left: 105px;
    margin-bottom: 25px;
}
#imgs{
    position: relative;
    top: 25px;
    left: 95px;
}
.divpic {
    float: left;
    margin-left: 22px;
}

#txtsection{position: relative;
    height: 850px;
    padding-left: 5px;
    top: 50px ;
    left: 95px;
    width: 960px;
}
#txtimg {
    float:left;
    margin-right: 30px;
}
#txtsection h3 {
    font-size: 20px;
    line-height: 30px;
    color: black;
    float: left;
    margin-left: 10px;
    font-weight: bold;
}
 #txt {
     position: relative;
     top: 30px;
     text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: black;
    padding-left: 10px;
}
#call {
    width: 150px;
    height: 50px;
    margin: auto;
    margin-left: 610px;
     position: absolute;
   top: 1390px;
   /*left:775px; */
    background-color: black;
    color: blanchedalmond;
    margin-bottom: 0px;
    padding: 0;
}
#call h3 {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
footer {
    /* position: relative; */
    /* bottom: 0; */
    /* padding-top: 25px; */

height: 100px;
width: 1170px;
background-color: rgb(92, 92, 92);
bottom: 0px;
margin: auto;
}